[submodule "QtScrcpy/QtScrcpyCore"]
	path = QtScrcpy/QtScrcpyCore
	url = https://github.com/gitlid/QtScrcpyCore.git
[submodule "QtScrcpy/third_party/ScrcpyKeyMapper"]
	path = QtScrcpy/third_party/ScrcpyKeyMapper
	url = https://github.com/w4po/ScrcpyKeyMapper.git
